WikiExplorer/xml-resources/web-service-references/HBaseCacheService/wsdl/192.168.3.171_8080/TSCache/HBaseCacheService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cache.ts.hadoop/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cache.ts.hadoop/" name="HBaseCacheService">
<wsp:Policy wsu:Id="TSCache.v2PortBindingPolicy"/>
<wsp:Policy wsu:Id="TSCache.v2PortBinding_MTOM_Policy-TSCache.v2PortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://cache.ts.hadoop/" schemaLocation="http://192.168.3.171:8080/TSCache/HBaseCacheService?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="get">
<part name="parameters" element="tns:get"/>
</message>
<message name="getResponse">
<part name="parameters" element="tns:getResponse"/>
</message>
<message name="put">
<part name="parameters" element="tns:put"/>
</message>
<message name="putResponse">
<part name="parameters" element="tns:putResponse"/>
</message>
<message name="init">
<part name="parameters" element="tns:init"/>
</message>
<message name="initResponse">
<part name="parameters" element="tns:initResponse"/>
</message>
<message name="hasKey">
<part name="parameters" element="tns:hasKey"/>
</message>
<message name="hasKeyResponse">
<part name="parameters" element="tns:hasKeyResponse"/>
</message>
<portType name="TSCache.v2">
<operation name="add">
<input wsam:Action="http://cache.ts.hadoop/TSCache.v2/addRequest" message="tns:add"/>
<output wsam:Action="http://cache.ts.hadoop/TSCache.v2/addResponse" message="tns:addResponse"/>
</operation>
<operation name="get">
<input wsam:Action="http://cache.ts.hadoop/TSCache.v2/getRequest" message="tns:get"/>
<output wsam:Action="http://cache.ts.hadoop/TSCache.v2/getResponse" message="tns:getResponse"/>
</operation>
<operation name="put">
<input wsam:Action="http://cache.ts.hadoop/TSCache.v2/putRequest" message="tns:put"/>
<output wsam:Action="http://cache.ts.hadoop/TSCache.v2/putResponse" message="tns:putResponse"/>
</operation>
<operation name="init">
<input wsam:Action="http://cache.ts.hadoop/TSCache.v2/initRequest" message="tns:init"/>
<output wsam:Action="http://cache.ts.hadoop/TSCache.v2/initResponse" message="tns:initResponse"/>
</operation>
<operation name="hasKey">
<input wsam:Action="http://cache.ts.hadoop/TSCache.v2/hasKeyRequest" message="tns:hasKey"/>
<output wsam:Action="http://cache.ts.hadoop/TSCache.v2/hasKeyResponse" message="tns:hasKeyResponse"/>
</operation>
</portType>
<binding name="TSCache.v2PortBinding" type="tns:TSCache.v2">
<wsp:PolicyReference URI="#TSCache.v2PortBinding_MTOM_Policy-TSCache.v2PortBinding_MTOM_Policy"/>
<wsp:PolicyReference URI="#TSCache.v2PortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="put">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="init">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hasKey">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HBaseCacheService">
<port name="TSCache.v2Port" binding="tns:TSCache.v2PortBinding">
<soap:address location="http://192.168.3.171:8080/TSCache/HBaseCacheService"/>
</port>
</service>
</definitions>